.flexbox {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.container {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.flexbox-item-left {
  width: 30%;
  height: 100%;
}

.flexbox-item-middle {
  width: 55%;
  height: 100%;
}

.flexbox-item-right {
  width: 15%;
  height: 100%;
  padding: 1em;
}

.placeholder {
  background-color: yellow;
  height: 800px;
  width: 100%;
}

@media (max-width: 1000px) {
  .flexbox-item-left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .flexbox-item-middle {
    width: 100%;
  }

  .flexbox {
    flex-direction: column;
  }
}
