$light-grey: #f2f2f2;

footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  border: 2px solid $light-grey;
  background-color: #fff;
}

.icon {
  height: 30px;
  padding: 0.5rem;
}
