<h1>{{ recipe.name }}</h1>
<h2>{{ recipe.description }}</h2>
<div class="info">
  <div class="info-item">Duur: {{ recipe.time }} min</div>
  <div class="info-item">Moeilijkheid: {{ recipe.difficulty }}</div>
</div>
<h2 class="recipe">Bereiding</h2>

<ol>
  <li *ngFor="let step of recipe.steps">{{ step }}</li>
</ol>

<h1 class="centerd">Deel dit recept</h1>

<share-buttons
  class="socials"
  [theme]="'circles-dark'"
  [include]="['facebook', 'twitter', 'messenger', 'whatsapp', 'email', 'copy']"
  [show]="9"
  [size]="1"
  [url]="'{{route}}'"
  [image]="'{{recipe.image}}'"
  [autoSetMeta]="false"
></share-buttons>

<div class="recipes">
  <h1 class="center">Nieuwste recepten</h1>
  <div class="gallery">
    <mat-card
      class="card"
      *ngFor="let recipe of recipes"
      (click)="selectedRecipe(recipe.id)"
    >
      <img
        mat-card-image
        src="{{ recipe.image }}"
        alt="{{ recipe.name }}"
        class="image"
      />
      <mat-card-content>
        <p>
          <b>{{ recipe.name }}</b>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
