<div class="image-container">
  <img src="../../assets/test.jpg" alt="lukewarm freekehsalad with halloumi" />
</div>

<div class="container-qauntity">
  <div class="quantity-top">INGREDIENTEN VOOR 4 PERSONEN</div>
  <div class="quantity-content">
    <div class="flex">
      <div class="flex-left">Spinazie</div>
      <div class="flex-right">140 g</div>
    </div>
    <div class="flex">
      <div class="flex-left">Spinazie</div>
      <div class="flex-right">140 g</div>
    </div>
    <div class="flex">
      <div class="flex-left">Spinazie</div>
      <div class="flex-right">140 g</div>
    </div>
    <div class="flex">
      <div class="flex-left">Spinazie</div>
      <div class="flex-right">140 g</div>
    </div>
  </div>
</div>
