<div class="container">
  <form class="form">
    <mat-form-field class="form-field">
      <mat-label
        ><mat-icon aria-hidden="false" aria-label="search icon"
          >search</mat-icon
        >
        Recept</mat-label
      >
      <input
        type="text"
        placeholder="Kies een recept"
        aria-label="Recipe"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="gallery">
    <mat-card
      class="card"
      *ngFor="let recipe of recipes"
      (click)="selectedRecipe(recipe)"
    >
      <img mat-card-image src="{{ recipe.image }}" alt="{{ recipe.name }}" />
      <mat-card-content>
        <p>
          <b>{{ recipe.name }}</b>
          <br />
          Moeilijkheid: {{ recipe.difficulty }} <br />
          Duur: {{ recipe.time }} minuten
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
