.card {
  max-width: 200px;
  max-height: 250px;
  margin: 0.5rem;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}

.card:hover {
  cursor: pointer;
}

img {
  min-height: 65%;
  max-height: 65%;
  object-fit: cover;
}

button {
  position: absolute;
  bottom: 0.5rem;
}
