<div class="container">
  <div class="welcome">
    <h1>Welkom bij de veggieKok</h1>
    Gedreven door de liefde voor natuur en dieren.
  </div>
  <button class="go-recipes">Ga naar recepten</button>

  <div class="recipes">
    <h1 class="center">Nieuwste recepten</h1>
    <div class="gallery">
      <mat-card
        class="card"
        *ngFor="let recipe of recipes"
        (click)="selectedRecipe(recipe)"
      >
        <img
          mat-card-image
          src="{{ recipe.image }}"
          alt="{{ recipe.name }}"
          class="image"
        />
        <mat-card-content>
          <p>
            <b>{{ recipe.name }}</b>
            <br />
            Moeilijkheid: {{ recipe.difficulty }} <br />
            Duur: {{ recipe.time }} minuten
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
