<div class="container">
  <div class="welcome">
    <h1>Welkom bij de veggieKok</h1>
    Gedreven door de liefde voor natuur en dieren.
  </div>
  <div class="flex-why">
    <div class="image-container">
      <img
        src="../../assets/pexels-daria-shevtsova-1030947.jpg"
        alt="Picture of plate of vegiterian food"
        class="round"
      />
    </div>
    <div class="why">
      <div class="why-container">
        <h2 class="center">Waarom veggie</h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam nam in
        laudantium ipsa cum sint odit eaque facere, modi aspernatur. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Similique, ipsum.
        <br />
        <br />
        <a routerLink="/recipes" routerLinkActive="active">
          <button class="go-recipes">Ga naar recepten</button>
        </a>
      </div>
    </div>
  </div>

  <div class="recipes">
    <h1 class="center">Nieuwste recepten</h1>
    <div class="gallery">
      <div class="gallery-item">
        <div class="gallery-item-content">
          <div class="image-container">
            <img
              class="gallery-image"
              src="../../assets/pexels-daria-shevtsova-1824353.jpg"
              alt="tattoo of chinese dog"
            />
            <div class="overlay">
              <p class="text">
                Moeilijkheid: Makkelijk <br />
                Duur : 60min
              </p>
            </div>
          </div>
          <p>Testing</p>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-item-content">
          <div class="image-container">
            <img
              class="gallery-image"
              src="../../assets/pexels-daria-shevtsova-1030947.jpg"
              alt="tattoo of chinese dog"
            />
            <div class="overlay">
              <p class="text">
                Moeilijkheid: Makkelijk <br />
                Duur : 60min
              </p>
            </div>
          </div>
          <p>Testing</p>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-item-content">
          <div class="image-container">
            <img
              class="gallery-image"
              src="../../assets/pexels-julie-aagaard-2097090.jpg"
              alt="tattoo of chinese dog"
            />
            <div class="overlay">
              <p class="text">
                Moeilijkheid: Makkelijk <br />
                Duur : 60min
              </p>
            </div>
          </div>
          <p>Testing</p>
        </div>
      </div>

      <div class="gallery-item">
        <div class="gallery-item-content">
          <div class="image-container">
            <img
              class="gallery-image"
              src="../../assets/test.jpg"
              alt="tattoo of chinese dog"
            />
            <div class="overlay">
              <p class="text">
                Moeilijkheid: Makkelijk <br />
                Duur : 60min
              </p>
            </div>
          </div>
          <p>Testing</p>
        </div>
      </div>
    </div>
  </div>
</div>
